.title {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

.description {
  margin-top: 15px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.secondary {
  color: rgb(195, 195, 195);
  margin: 20px 0 10px;
}

.buy {
  display: flex;
  justify-content: flex-end;
}
